# Dependency directories
node_modules/
jspm_packages/

# Secrets
smart-contract/accounts.json
smart-contract/detailed-report.json
smart-contract/simulation-results.json
smart-contract/transfer-results.json
smart-contract/mint-results.json
smart-contract/detailed-report.json
smart-contract/simulation-results.json
smart-contract/transfer-results.json
smart-contract/mint-results.json
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
smart-contract/full-transfer-log.txt
smart-contract/simulation-log.txt
smart-contract/transfer-tokens-log-final.txt
smart-contract/simulation-600.log
smart-contract/sequential-simulation.log
smart-contract/simulation-600-bash.log

# OS metadata
.DS_Store
Thumbs.db

# Build output
dist/
build/
.next/
out/
