# Dependency directories
node_modules/
jspm_packages/

# Secrets
smart-contract/accounts.json
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
smart-contract/full-transfer-log.txt

# OS metadata
.DS_Store
Thumbs.db

# Build output
dist/
build/
.next/
out/
